* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: rgb(22, 20, 20);
    gap: 30px;

}

@media only screen and (max-width:600px) {

    .cal-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 230px;
        height: 390px;
        border: none;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0 0 12px 1px white;
    
    
        animation: slidein4 1s linear forwards;
    }
    .hide-cal{
    display: none;
    }
    
    @keyframes slidein4 {
        from{
           transform: translateX(-150px);
        }
       t0 {
           transform: translateX(150px);
       }
       }
    .screen {
        margin-top: 20px;
        text-align: center;
        width: 180px;
        height: 20%;
        border: none;
        border-radius: 20px;
        background-color: white;
        font-size: 30px;
        font-weight: 800;
        color: black;

        animation: slidein 2s linear forwards;

    }
    
    @keyframes slidein {
     from{
        transform: translateY(-170px);
     }
    t0 {
        transform: translateY(170px);
    }
    }
    
    
    .screen:hover {
        cursor: pointer;
    
    }
    
    .button-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        height: 80%;
        width: 210px;
  
    animation: slidein2 2s linear forwards;

}

@keyframes slidein2 {
    from{
       transform: translateY(160px);
    }
   t0 {
       transform: translateY(-160px);
   }
   }
    .mn-btn {
        display: flex;
        gap: 5px;
        height: 80%;
        width: 210px;
    
    }
    .btn {
        height: 300px;
        width: 70px;
        border-radius: 250px;
        background-color: rgb(3, 3, 3);
        color: rgb(90, 73, 190);
        font-size: 17px;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: none;
        box-shadow: 0 0 12px 1px white;
    
    }
    .btn span{
        color: red;
        font-size:15px ;
    
    }
    #hide{
        display: none;
        color: rgb(224, 63, 63);
    }
    #hide:hover{
    
        color: red;
    }
    .btn:hover{
        box-shadow: 0 0 17px 2px white;
        cursor: pointer;
        
    }
    .btn:active{
      background-color: rgb(26, 24, 24);
        
    }
    .btn span:hover{
        color: rgb(228, 39, 39);
        cursor: pointer;
    
    }
    
    .btns {
        text-align: center;
        height: 30px;
        width: 40px;
        border-radius: 7px;
        background-color: black;
        color: white;
        font-size: 15px;
        border: none;
        box-shadow: 0 0 5px 0.5px white;
    
    }
    
    .btns:hover {
        box-shadow: 0 0 10px 2px white;
        height: 32px;
        width: 42px;
        cursor: pointer;
    }
    
    .btns:active {
        box-shadow: 0 0 7px 0.5px white;
        height: 30px;
        width: 40px;
        background-color: rgb(63, 62, 62);
        color: rgb(240, 194, 194);
    }
    
    #clear {
        height: 200px;
        width: 30px;
        border-radius: 7px;
        background-color: grey;
        box-shadow: 0 0 5px 0.5px white;
        color: white;
        font-size: 15px;
        border: none;
   
        animation: slidein3 2s linear forwards;
    }
    
    @keyframes slidein3 {
        from{
           transform: translateX(100px);
        }
       t0 {
           transform: translateX(-100px);
       }
       }
    
    
    
    #clear:hover {
        box-shadow: 0 0 10px 2px white;
        height: 200px;
        width: 31px;
        cursor: pointer;
    }
    
    #clear:active {
        box-shadow: 0 0 5px 0.5px white;
        height: 200px;
        width: 30px;
        background-color: rgb(95, 94, 94);
        color: rgb(240, 194, 194);
    }

}

@media only screen and (min-width:601px) {

.cal-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: 390px;
    border: none;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px white;
    

    animation: slidein4 1s linear forwards;
}
.hide-cal{
display: none;
}

@keyframes slidein4 {
    from{
       transform: translateX(-150px);
    }
   t0 {
       transform: translateX(150px);
   }
   }
   


.screen {
    margin-top: 20px;
    text-align: center;
    width: 500px;
    height: 20%;
    border: none;
    border-radius: 20px;
    background-color: white;
    font-size: 30px;
    font-weight: 800;
    color: black;


animation: slidein 2s linear forwards;

}

@keyframes slidein {
 from{
    transform: translateY(-170px);
 }
t0 {
    transform: translateY(170px);
}
}


.screen:hover {
    cursor: pointer;

}

.button-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 80%;
    width: 500px;

    animation: slidein2 2s linear forwards;

}

@keyframes slidein2 {
    from{
       transform: translateY(160px);
    }
   t0 {
       transform: translateY(-160px);
   }
   }

.mn-btn {
    display: flex;
    gap: 10px;
    height: 80%;
    width: 500px;

}
.btn {
    height: 300px;
    width: 500px;
    border-radius: 150px;
    background-color: rgb(3, 3, 3);
    color: rgb(90, 73, 190);
    font-size: 55px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    box-shadow: 0 0 12px 1px white;

}
.start2 {
    height: 450px;
    width: 300px;
    border-radius: 250px;
    background-color: rgb(3, 3, 3);
    color: rgb(90, 73, 190);
    font-size: 45px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    box-shadow: 0 0 12px 1px white;

}
.btn span{
    color: red;
    font-size:30px ;

}
#hide{
    display: none;
    color: rgb(224, 63, 63);
}
#hide:hover{

    color: red;
}
.btn:hover{
    box-shadow: 0 0 17px 2px white;
    cursor: pointer;
    
}
.btn:active{
  background-color: rgb(26, 24, 24);
    
}
.btn span:hover{
    color: rgb(228, 39, 39);
    cursor: pointer;

}
.btns {
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    box-shadow: 0 0 5px 0.5px white;

}

.btns:hover {
    box-shadow: 0 0 10px 2px white;
    height: 52px;
    width: 102px;
    cursor: pointer;
}

.btns:active {
    box-shadow: 0 0 7px 0.5px white;
    height: 50px;
    width: 100px;
    background-color: rgb(63, 62, 62);
    color: rgb(240, 194, 194);
}

#clear {
    height: 233px;
    width: 70px;
    border-radius: 7px;
    background-color: grey;
    box-shadow: 0 0 5px 0.5px white;
    color: white;
    font-size: 15px;
    border: none;

    animation: slidein3 2s linear forwards;
}

@keyframes slidein3 {
    from{
       transform: translateX(100px);
    }
   t0 {
       transform: translateX(-100px);
   }
   }


#clear:hover {
    box-shadow: 0 0 10px 2px white;
    height: 234px;
    width: 71px;
    cursor: pointer;
}

#clear:active {
    box-shadow: 0 0 5px 0.5px white;
    height: 233px;
    width: 70px;
    background-color: rgb(75, 74, 74);
    color: rgb(240, 194, 194);
    
}

}